
<div class="vips">
    <div class="head_vips"><img src="/images/vips.png"></div>
    {{#each vips}}
        <p><a href="/articles/{{this.vip_numero}}">{{this.vip_nom}} {{this.vip_prenom}}</a></p>
    {{/each}}
</div>
