<h1>Répertoire des VIPs</h1>
{{> selectLettres}}
<table><tr>
{{#each vips}}
  <td><a href="/repertoire/detailsVip/{{this.vip_numero}}"><img class="personne" src="/images/vip/{{this.photo_adresse}}"><p>{{this.vip_nom}}</p></a></td>
{{/each}}
</tr></table>
