<div class="menuVip">
    <ul>
        <li class="headerMenuVip"><img src="/images/vips.png" alt=""></li>
        <li><a href="/vips/ajouter">Ajouter</a></li>
        <li><a href="/vips/modifier">Modifier</a></li>
        <li><a href="/vips/supprimer">Supprimer</a></li>
    </ul>
</div>
