<div class="menuVip">
    <ul>
        <li class="headerMenuVip"><img src="/images/photos.png" alt=""></li>
        <li><a href="/photos/ajouter">Ajouter</a></li>
        <li><a href="/photos/supprimer">Supprimer</a></li>
    </ul>
</div>
