{{> menuPhotos}}


<fieldset class="formSupPhoto">
    {{#each vip}}
        <legend><h2>Supprimer une photo de {{this.vip_nom}} {{this.vip_prenom}}</h2></legend>
        <form class="" action="/photos/supprimerDonnees" method="post">
          <label for="photo">Sélectionnez la photo à supprimer</label>
          <select name="photo">
              {{#each ../photo}}
                  <option value="{{this.photo_numero}}">{{this.photo_sujet}}</option>
              {{/each}}
          </select>
          <p><input type="reset" value="Annuler"><input type="submit" value="Supprimer"></p>
        </form>
    {{/each}}
</fieldset>
